body {
    width: 400px;
    height: 210px;
    background: linear-gradient(125deg, rgb(255, 255, 255) 25%, rgb(11, 216, 226) 75%);
    background-color: rgb(175, 207, 183);
    border-radius: 2px;
    padding: 10px;
}

p {
    font-size: 30px;
    font-family: Times New Roman;
    display:inline-flex;
    justify-content:center;
}

h1 {
    font-size: 16px;
    font-family: Courier New;
    display: flex;
    justify-content: first baseline;
}

button {
    width: 150px;
    height: 30px;
    background-color: transparent;
    font-size: 15px;
    color: rgb(10, 10, 10);
    display: flexbox;
    justify-content:right;
    border-radius: 6px;
}
